.header {
  background-color: #fafafa;
  height: 100rem;
  position: relative;
  display: flex;
  flex-direction: column;

  @include respond (md){

    height: min-content;
  }


  

  &__bg {
    background-image: url(../img/hero.jpg);
    height: 80rem;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    @include respond (md){

      height: 150rem;

    }

    @include respond (sm){
      height: 200rem;
  }
  }
  &__nav{
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: 2rem 0;
    left: 50%;
    transform: translateX(-50%);

    @include respond (lg){
      display: none;
    }

    .logo {
      margin-right: 8rem;
    }
    .menu {
      margin-right: auto;
      ul {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        li {
          transition: all 0.1s;
          &:hover {
            transform: translateY(-2px);
          }

          &:not(:last-child) {
            margin-right: 2rem;
          }
        }
      }
    }
    .register {
      .btn {
        margin-left: 5rem;
        &:hover {
          i {
            animation: tiny-move--left 1s infinite;
          }
        }
        i {
          margin-left: 2rem;
        }
      }
    }
  }
  &__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8rem 0;
    position: absolute;
    top: 11rem;
    left: 50%;
    transform: translateX(-50%);
    @include respond (lg){

      top: 0;
      
    }

    

    .main {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      padding: 4rem 0;
      

      h4 {
        margin: 4rem 0;
      }

      .cta {
        button:not(:last-child) {
          margin-right: 2rem;
          margin-bottom: 2rem;
        }
      }
    }

    .card-box {
      display: grid;
      grid-template-columns: repeat(3, minmax(32rem, 1fr));
      grid-column-gap: 3rem;
      grid-row-gap: 6rem;
      margin-top: 9rem;

      @include respond (md){

        grid-template-columns: repeat(1, minmax(32rem, 1fr));
      }
    }

    .card-item {
      background-color: #fff;
      padding: 3.5rem 4rem;
      box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.05);
      
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      i {
        color: $color-primary;
        font-size: 4rem;
      }
      h3 {
        margin: 2rem 0;
      }
      &--blue {
        background-color: $color-primary;
        color: #fff;
        i {
          color: #fff;
        }
        p {
          color: #fff;
        }
      }
    }
  }
}
.nav-button{
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: $color-primary;
  position: fixed;
  top: 3rem;
  left: 3rem;
  text-align: center;
  z-index: 200;
  display: none;

  @include respond (lg){
    display: inline-block;
  }
 

}
.nav-icon{
position: relative;
margin-top: 3rem;

&,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block;
    }

    &::before,
    &::after{
        content: "";
        position: absolute;
        left: 0;
        transition: all .2s;
    }
    &::before{ top: -.8rem;}
    &::after{top: .8rem;}

}
