.header{
    background-color: #fafafa;
    height: 100rem;
    position: relative;

    &__bg{
        background-image:url(../img/hero.jpg);
        height: 80rem;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;  
        z-index: -1;
    }
    &__nav{
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 1.6rem;
        left: 50%;
        transform: translateX(-50%);


        .logo{
            margin-right: 8rem;
        }
        .menu{
           margin-right: auto;
            ul{
                display: flex;
                align-items: center;
                flex-wrap: wrap;
    
                li{
                    transition: all .1s;
                    &:hover{
                        transform: translateY(-2px);
                    }

                    &:not(:last-child){
                        margin-right: 2rem;
                    }
        
                }
            }           
        }
        .register{


            .btn{        
                margin-left: 5rem;       
                &:hover{
                    i{
                        animation: tiny-move--left  1s infinite;
                    }
                }
                i{
                    margin-left: 2rem;
                }

            }
                   
        }
    }
}